/*
    Progress
*/
/* Container Gecko, only one selector */
progress[value]::-moz-progress-bar {
    background-color: red;
}


/*
    Range
*/
input[type=range]::-moz-focus-outer {
    border: 0;
}


input[type=range]::-moz-range-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #3071a9;
    border-radius: 0;
    border: none;
    padding: 0;
}


/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: none;
    height: 100%;
    width: 1px;
    border-radius: 0;
    background: black;
    cursor: pointer;
}