/*
    Progress
*/
/* Container Webkit*/
progress[value]::-webkit-progress-bar {
    background-color: black;
}

/* Progress bar Webkit */
progress[value]::-webkit-progress-value {
    background: #007fd1;
}
/*
    Range
*/
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 100%;
    width: 1px;
    border-radius: 0;
    background: black;
    cursor: pointer;
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    z-index: 0;
    vertical-align: middle;
}

/* Track */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 32px;
    cursor: pointer;
    border-radius:0;
    border: none;
    background: #367ebd;
}